extends ../views/layout
block content
	p Fees Track
	
	form#formAddStudent(name="addfeestrack",method="post",action="/addfeestrack")
		input#inputStudentName.findOne(db.FeesTrackDb.studentname)
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
			script(src='http://code.jquery.com/jquery-1.9.1.js')
				script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
				link(rel='stylesheet', href='/resources/demos/style.css')
				script
					$(function() {
					$("#datepicker").datepicker();
					});
		|Date:
		input#datepicker(type='text')			
		input(type="checkbox", name="P")
		|Fees Paid
		input(type="checkbox", name="FPn")
		|Fees Pending

		input#inputTotalHrs(type="number",placeholder="Total Hours",name="totalhrs")
		input#inputHrsAttended(type="number",placeholder="Hours Attended",name="hrsattended")

		button#btnSubmit(type="submit") Submit
