extends ../views/layout
block content
	p Fees Track
	
	form#formAddStudent(name="addfeestrack",method="post",action="/addfeestrack")
		input#inputStudentName.findOne(db.FeesTrackDb.studentname)
		link(rel='stylesheet' type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all")
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
				script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js")
				link(rel='stylesheet', href='/resources/demos/style.css')
				script
					$(function() {
						$("#datepicker").datepicker();
					});
		|Date:
		input#datepicker(type='text')			
		input(type="checkbox", name="P")
		|Fees Paid
		input(type="checkbox", name="FPn")
		|Fees Pending

		input#inputTotalHrs(type="number",placeholder="Total Hours",name="totalhrs")
		input#inputHrsAttended(type="number",placeholder="Hours Attended",name="hrsattended")

		button#btnSubmit(type="submit") Submit
