
block content
	h1 Hello!
	title = "Attendance Management App"
	p  Welcome to #{title}
	#container.container
		#row.row
			#logo.span3
				
			#topMenu.span7
				br br
				#navbar.navbar-fixed-top
					#innernav.navbar-inner
						#tabs.tabbable
							ul.nav
								li
									a(href="StudentsAtt", data-toggle="tab") StudentsAtt
								li.active
									a(href="studentlist", data-toggle="tab") studentlist
								li
									a(href="newstudent", data-toggle="tab") newstudent
		#row2.row
			#sidemenu.span3
				ul.nav.nav-tabs.nav-stacked