doctype 5 
html
	head
		title #{title} | Students Attendance
		link(rel='stylesheet', href='/stylesheets/style.css')
 		body
   		block content
   		li(class=title=='StudentsAtt'?'active':undefined)
   			a(href="/") StudentsAtt
   		li(class=title=='studentlist'?'active':undefined)
   			a(href="/studentlist") studentlist
   		li(class=title=='newstudent'?'active':undefined)
   			a(href="/newstudent") newstudent