doctype 5

block content
	p Hello!, Welcome to #{title}
	li(class=title=='attmark'?'active':undefined)
		a(href="/attmark") attmark
	li(class=title=='feestrack'?'active':undefined)
		a(href="/feestrack") feestrack