

block content
	p Student Attendance & Feestracking
	li(class=title=='attmark'?'active':undefined)
		a(href="/attmark") attmark
	li(class=title=='feestrack'?'active':undefined)
		a(href="/feestrack") feestrack